html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.MainContainer {
  @apply min-h-screen w-full gap-4 pt-10 flex flex-col text-center items-center justify-center;
}
.MainHeader {
  @apply text-black font-bold text-4xl py-4 select-none;
}
.NoteContainer {
  @apply mt-4 2xl:px-20 xs:px-16 pb-10  h-full w-full  flex flex-wrap gap-8 justify-center;
}

.CardContainer {
  @apply shadow-CarouselControleShadow hover:shadow-2xl  cursor-pointer  2xl:w-96 xs:w-80 h-auto rounded-xl     flex  flex-col px-4  py-4;
}
.InputContainer {
  @apply mb-4 overflow-y-hidden px-2 overflow-x-hidden w-full h-full cursor-pointer;
}
.MainBtn {
  @apply py-2 bg-primary hover:bg-yellow-400 focus:bg-yellow-400 select-none text-white text-lg rounded-lg w-44 flex text-center items-center justify-center;
}
.InputMain {
  @apply bg-tertiary 2xl:text-base xs:text-sm  px-4 outline-none ring-1 focus:ring-2  ring-primary text-black  inset-2 my-2  w-full h-10 rounded-md transition-all cursor-pointer;
}

.TextAreaMain {
  @apply w-full bg-tertiary  2xl:text-base xs:text-sm rounded-md outline-none ring-1 focus:ring-2 ring-primary text-black px-4 py-1 text-xl;
}

.CardBtn {
  @apply bg-primary py-1 rounded text-tertiary font-medium;
}
