html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.MainContainer {
  @apply bg-red-300 h-screen w-full;
}
.NoteContainer {
  @apply h-full w-full bg-gray-600 grid grid-cols-4;
}

.CardContainer {
  @apply w-96 h-96 bg-yellow-300  flex  flex-col;
}
